.about__container {
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-bottom: 120px;
    position: relative;
  }

  @media (min-width: 1366px) {
    padding-bottom: 0;
    display: flex;
    column-gap: 145px;
    padding: 120px 103px 240px 103px;
  }
}

.about__wrapper {
  padding: 40px 15px 0 15px;

  @media (min-width: 768px) {
    padding: 60px 45px 36px;
  }

  @media (min-width: 1366px) {
    width: 355px;
    padding: 0;
  }
}

.about__title {
  margin: 0;
  padding: 0;
  font-family: $title-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  color: $color-text-basic;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  @media (min-width: 1366px) {
    text-align: start;
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 25px;
  }
}

.about__title-info {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  color: $color-text-basic;
  margin-bottom: 36px;
  display: block;

  @media (min-width: 768px) {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 36px;
  }

  @media (min-width: 1366px) {
    text-align: start;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 95px;
  }
}

.about__wrapper p {
  margin: 0;
  padding: 0;
  letter-spacing: 0%;
  color: $color-text-basic;
  margin-bottom: 36px;

  @media (min-width: 768px) {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    width: 505px;
    margin: 0 auto;
  }

  @media (min-width: 1366px) {
    text-align: start;
    font-size: 16px;
    line-height: 24px;
    width: 355px;
  }
}

.about__wrapper p:nth-of-type(2) {
  display: none;

  @media (min-width: 1366px) {
    display: block;
    margin-top: 8px;
  }
}

.about__img {
  display: block;
  margin-bottom: 36px;

  @media (min-width: 768px) {
    margin: 0 auto;
  }
}

.about__iframe {
  width: 320px;
  height: 170px;
  background-image: linear-gradient(#14367a80, #14367a80),
    url(../../img/images/about-video-img-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(#14367a80, #14367a80),
      url(../../img/images/about-video-img-mobile@2x.jpg);
  }

  @media (min-width: 768px) {
    background-image: linear-gradient(#14367a80, #14367a80),
      url(../../img/images/about-video-img-tablet@1x.jpg);
  }

  @media (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(#14367a80, #14367a80),
      url(../../img/images/about-video-img-tablet@2x.jpg);
  }

  @media (min-width: 1366px) {
    background-image: linear-gradient(#14367a80, #14367a80),
      url(../../img/images/about-video-img-desktop@1x.jpg);
  }

  @media (min-width: 1366px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(#14367a80, #14367a80),
      url(../../img/images/about-video-img-desktop@2x.jpg);
  }

  @media (min-width: 768px) {
    position: absolute;
    width: 270px;
    height: 170px;
    bottom: 35px;
    right: 50%;
    transform: translateX(50%);
  }

  @media (min-width: 1366px) {
    width: 360px;
    height: 230px;
    bottom: 125px;
  }
}

.about__iframe-button {
  padding: 0;
  margin: 0;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  background: linear-gradient(128deg, #ed0233 0%, #003eb7 100%);
  outline: 2px solid rgba(237, 2, 51, 0.2);
  outline-offset: 8px;

  @media (min-width: 1366px) {
    width: 72px;
    height: 72px;
    outline-offset: 12px;
  }

  &::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    transform: translateX(72%) translateY(-50%);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10.4px solid #ffffff;
    margin-left: 5px;
  }

  &:hover,
  &:active,
  &:disabled {
    background: none;
    background-color: #ffffff;
    outline: 2px solid rgba($color: $color-text-basic, $alpha: 0.6);
  }

  &:hover::after {
    border-left: 10.4px solid rgba($color: $color-text-basic, $alpha: 0.6);
  }

  &:focus {
    background: none;
    background-color: #c8c9cc;
    outline: 2px solid $color-text-basic;
  }

  &:focus::after,
  &:active::after {
    border-left: 10.4px solid $color-text-basic;
  }

  &:disabled {
    opacity: 0.4;
  }

  &:disabled::after {
    border-left: 10.4px solid $color-text-basic;
    opacity: 0.4;
  }
}
