.connection {
  min-width: 320px;

  @media (width >= 1366px) {
    margin: 0 auto;
    display: flex;
  }
}

.connection__form {
  @media (width >= 1366px) {
    width: 683px;
  }
}

.connection__contacts {
  @media (width >= 1366px) {
    width: 683px;
  }
}
