.features {
    background-color: $color-background-extra;
}

.features__container {
    padding: 40px 15px;

    @media (min-width: 768px) {
      padding: 60px 45px;
    }
}

.features__title {
    margin: 0;
    padding: 0;
    font-family: $title-font;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: $color-text-basic;
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 50px;
    }
}

.features__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 324px 324px;
      column-gap: 30px;
      row-gap: 40px;
    }
}

.features__item {
    margin: 0;
    padding: 0;
}

.features__item--accent {
  @media (min-width: 768px) {
    grid-column: 1/3;
    margin: 0 auto;
  }
}
