.juri-card {
    font-display: flex;
    flex-direction: column;
    position: relative;
}

.juri-card__photo {
    display: block;
    position: relative;
    z-index: 1;
}

.juri-card__name {
    display: block;
    position: absolute;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: green;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}