.offers-card {
    margin: 0;
    padding: 20px;
    border: 7px solid transparent;
    border-image: linear-gradient(128deg, #D10A42 0%, #00359F 100%) 1;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (min-width: 768px) {
      min-height: 188px;
      width: 324px;
      align-items: start;
      gap: 0;
   }
}

.offers-card__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: $color-text-basic;

    @media (min-width: 768px) {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 10px;
   }
}

.offers-card__description {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $color-text-basic;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      text-align: start;
      margin-bottom: auto;
   }

}

.offers-card__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: $color-text-basic;
    text-transform: uppercase;
    border-bottom: 1px solid $color-text-basic;
    padding-bottom: 5px;
}
