.reviews__container {
  padding: 40px;

  @media (min-width: 768px) {
    padding: 60px 45px;
  }

  @media (min-width: 1366px) {
    padding: 100px 103px;
  }
}

.reviews__title {
  margin: 0;
  padding: 0;
  font-family: $title-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $color-text-basic;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 35px;
  }
  @media (min-width: 1366px) {
    margin-bottom: 75px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
