.social-list {
  margin: 0;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  max-width: 290px;

  @media (width >= 768px) {
    padding: 0;
    gap: 15px;
    min-width: 105px;
    max-width: 110px;
  }

  @media (width >= 1366px) {
    gap: 10px;
    max-width: 95px;
    min-width: 95px;
  }
}

.social-list__link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $color-text-light;

  &:hover {
    background-color: #74819c;
  }

  &:focus {
    background-color: #103aae;
  }

  &:active {
    background-color: $color-text-basic;
  }

  &:disabled {
    background-color: $color-text-light;
    opacity: 0.3;
  }
}

.social-list__item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}

.social-list__link--vk {
  &::before {
    content: "";
    display: block;
    width: 12px;
    height: 7px;
    background-color: $color-background-dark;
    mask-image: url("../../img/icons/social-list-vk.svg");
    mask-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background-color: $color-text-light;
  }

  &:disabled::before {
    background-color: #030a1a;
  }
}

.social-list__link--ok {
  &::before {
    content: "";
    display: block;
    width: 9px;
    height: 16px;
    background-color: $color-background-dark;
    mask-image: url("../../img/icons/social-list-ok.svg");
    mask-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background-color: $color-text-light;
  }

  &:disabled::before {
    background-color: #030a1a;
  }
}

.social-list__link--reddit {
  &::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: $color-background-dark;
    mask-image: url("../../img/icons/social-list-reddit.svg");
    mask-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background-color: $color-text-light;
  }

  &:disabled::before {
    background-color: #030a1a;
  }
}
