/* здесь используйте глобальные переменные */
$basic-font: "RobotoCondensed", "Arial", sans-serif;
$title-font: "AlumniSans", "Arial", sans-serif;
$color-text-basic: #102654;
$color-text-light: #ffffff;
$color-text-accent: #103aae;
$color-text-gradient: #d10a42, #0041ca;
$color-background-light: #ffffff;
$color-background-extra: #f8f9fc;
$color-background-banner: #ed0233;
$color-background-block-accent: #1c3374;
$color-background-dark: #030a1a;
