/* здесь используйте глобальные переменные */
$basic-font: "RobotoCondensed", "Arial", sans-serif;
$title-font: "AlumniSans", "Arial", sans-serif;
$color-text-basic: #102654;
$color-text-light: #ffffff;
$color-text-accent: #103AAE;
$color-text-gradient: #D10A42,#0041CA;
$color-background-light: #fffffF;
$color-background-extra: #F8F9FC;
$color-background-banner: #ED0233;
